<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
         <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-globe"></i>Country Management</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/countries']" [routerLinkActive]="['router-link-active']" ><span>Countries Management</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/cities']" [routerLinkActive]="['router-link-active']" ><span>Cities Management</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/universities']" [routerLinkActive]="['router-link-active']" ><span>Universities Management</span></a>
                    </li>
                </ul>
            </li>
        </div>
          <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('content')">
                <span><i class="fa fa-indent"></i>Content Management</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'content'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/hobbies']" [routerLinkActive]="['router-link-active']" ><span>Hobbies Icons Management</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/introductrory']" [routerLinkActive]="['router-link-active']" ><span>Introductory Content Management</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/videocontent']" [routerLinkActive]="['router-link-active']" ><span>Video Content Management</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('gen')">
                <span><i class="fa fa-ravelry"></i>General Management</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'gen'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/aboutus']" [routerLinkActive]="['router-link-active']" ><span>About Us</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/faq']" [routerLinkActive]="['router-link-active']" ><span>FAQ</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/contactus']" [routerLinkActive]="['router-link-active']" ><span>Contact Us</span></a>
                    </li>
                </ul>
            </li>
        </div>
          <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('userManagment')">
                <span><i class="fa fa-user"></i>Users Management</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'userManagment'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)" [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" ><span>Users</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/notification" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bell"></i>&nbsp;Notification Management
        </a>
        <a routerLink="/chatroom" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-comment"></i>&nbsp;Chat Management
        </a>
    </div>
</nav>
