<div class="chat-panel card card-default">
    <div class="card-header">
        <i class="fa fa-comments fa-fw"></i>
        Chat
        <div class=" pull-right" ngbDropdown>
            <button class="btn btn-secondary btn-sm" ngbDropdownToggle>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li role="menuitem"><a class="dropdown-item" href="#">
                    <i class="fa fa-refresh fa-fw"></i> Refresh</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" href="#">
                    <i class="fa fa-check-circle fa-fw"></i> Available</a>
                </li>
                <li role="menuitem"><a class="dropdown-item" href="#">
                    <i class="fa fa-times fa-fw"></i> Busy</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-times fa-fw"></i> Busy
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-clock-o fa-fw"></i> Away
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#" class="dropdown-item">
                    <i class="fa fa-sign-out fa-fw"></i> Sign Out
                  </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="card-body">
        <ul class="chat" *ngIf="messages">
            <li  *ngFor="let chat of messages" class="{{getClass(chat)}}">
     
                     <span class="chat-img {{getClass2(chat)}}">
                        <img *ngIf="chat.sender_id== 0" src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle">
                        <img *ngIf="chat.sender_id!= 0" src="{{getImagePath(chat.senderDetails.profile_image)}}" alt="User Avatar" class="img-circle" style="width: 50px;height: 50px">
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header" *ngIf="chat.sender_id== 0">
                            <small class=" text-muted">
                                <i class="fa fa-clock-o fa-fw"></i>{{getTime(chat.created_at)}}
                            </small>
                            <strong class="pull-right primary-font">You</strong>
                        </div>
                        <div class="header" *ngIf="chat.sender_id!=0">
                            <strong class="primary-font">{{chat.senderDetails.name}}</strong>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> {{getTime(chat.created_at)}}
                            </small>
                       </div>
                        <p>
                            {{chat.message}}
                        </p>
                    </div>
               
               
            </li>
            
        </ul>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <div class="input-group">
          <form style="width: 100%" role="form" [formGroup]="verifiactionForm">
            <!-- <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." >
            <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessage('hdhhdh')">
                    Send
                </button>
            </span> -->
            <input id="btn-input" type="text" class="form-control custom-form-control" placeholder="Type your message here..." [formControl]="verifiactionForm.controls['chat']" [(ngModel)]="chat" >
            <div class="input-group-append">
                <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessage('hdhhdh')">
                    Send
                </button>
            </div>
         </form>
        </div>
    </div>
    <!-- /.card-footer -->
</div>
