.contn-class {
	float: left;
	width: 100%;
	padding: 20px 15px;
}

.cuatom-img .btn.cut-btn {
  font-size: 14px;
  padding: 5px;
}

.upload-img input {
  height: 1px;
  opacity: 0;;
  top: 0;
  width: 100%;
  cursor: context-menu;
}
.upload-img {
  float: left;
  position: relative;
  width: 100%;
}
.upload-img button {
  width: 100%;
}
.wrap-div img
{
	width: 100%;
}
#cross-btn {
	background-color: #fff;
	color: #d5275a;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 0;
}

.float-left{
	float: left
}